.hero {
    display: flex;
    flex-direction: row;
    gap: 5vw;
    padding: 2rem 0 0 0;
}

.hero_center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
}

/* .avatar_wrapper {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar {
    width: 300px;
    display: block;
    position: relative;
    z-index: 1;
}

.hero_tag {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: white;
    border-radius: 9999px;
    padding: 0.6rem 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.95rem;
    white-space: nowrap;
}

.left {
    left: -16rem;
    top: 3.5rem
}

.right {
    right: -13rem;

} */

.hero h1 {
    font-size: 4rem;
    margin: 0.5rem 0 2rem;
    font-weight: bold;
    color: #2c3d8f;
}

.hero h2 {
    display: block;
    font-size: 2rem;
    color: #2c3e50;
    margin: 0.5rem 0;
}

.vr {
    width: 1px;
    height: 10vh;
    background: linear-gradient(180deg, black, 50%, blue 100%);
    margin: 0.5rem 0;

}