.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navLinks li {
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.3s;
}

.navLinks li:hover,
.navLinks .active {
    color: var(--primary-color);
    font-weight: bold;
}

.authButtons button {
    margin-left: 0.5rem;
    padding: 0.4rem 0.8rem;
    border: 1px solid #444;
    cursor: pointer;
}

.login {
    background: var(--primary-color);
    color: white;
}

.login:hover {
    transform: scale(0.98);
}

.signup {
    background: white;
    color: black;
}

.signup:hover {
    transform: scale(0.98);
}