.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    border-bottom: 1px solid #ddd;
}

.logo {
    font-size: medium;
    font-weight: bold;
}

.navLinks {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navLinks li {
    cursor: pointer;
    padding: 0.5rem;
    transition: 0.3s;
}

.navLinks li:hover,
.navLinks .active {
    color: var(--primary-color);
    font-weight: bold;
}
.authButtons {
    width: 15%;
}
.authButtons button {
    width: 40%;
    margin-left: 0.5rem;
    padding: 0.4rem 0.8rem;
    /* border: 0.5px solid #444; */
    font-size: medium;
    cursor: pointer;
}

.login,
.logout {
    background: var(--primary-color);
    color: white;
}

.login:hover,
.logout:hover {
    transform: scale(1.05);
}

.signup {
    background: white;
    color: #141414;
    border: 0.5px solid #141414aa;
}

.signup:hover {
    transform: scale(1.05);
}